
 .sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.row#moto{
  margin-bottom: 0;
  padding-bottom: 5rem;
}

.nav-wrapper {
  background: linear-gradient(270deg, #74E0D4, #003542); 
}
.no-pad-bot {
  background-color: #F3FBFF; 
}

#formulario, #description {
  background-color: #F3FBFF;
}

#index-banner{
  background: linear-gradient(270deg, #74E0D4, #003542); 
  padding-top: 5rem; 
}

a#listlink{
  margin-right: 3rem;
  color: #003542;
  border: black
}

#appname{
  color: white;
}

#subt{
  padding-bottom: 2rem;
}

#labform{
  font-size: 1.5rem;
}

#visit{
  padding-left: 4rem;
  transition: box-shadow .3;
  transition-duration: 0.3s;
}

#visit:hover{
  box-shadow: 0 0 11px rgba(33,33,33,.2);
  border: 1px solid #ccc;
}

#subbut{
  background-color: #74E0D4;
  border: none;
  padding: 10px 24px;
  transition-duration: 0.4s;
}

#subbut:hover{
  background-color: #74E0D4;
  color: white;
}

span{
padding: 70px;
}